
@{
    ViewBag.Title = "EXIFooter";
}




<style>
    html {
        background-color: white !important;
    }

    body {
        color: #000000 !important;
        background-color: white !important;
    }

    /*.TEXT_BOLD {
        font-weight: bold;
        font-size: 14px;
        color: black;
    }

    .TEXT_UNBOLD {*/
    /*font-family: Poppins;*/
    /*font-size: 12px;
        color: black;
    }*/
</style>
<style>
    .page-count {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    element.style {
        border: solid 1px;
        color: #0E1A52;
    }

    .pl-0, .px-0 {
        padding-left: 0 !important;
    }

   

    table {
        line-height: 0.9rem;
    }
</style>

<html style="background-color: #808080; font-family: 'Fira Sans'">
<body style="background-color: #808080; font-family: 'Fira Sans'">

    @*<hr style="border: solid 4px; color: #4EB2C5;width:15%" class="ml-4 mt-0 pl-0 pull-left hr7" />*@

    <table class="mt-0 mb-0 pl-0 ml-4" height="100%" width="100%" style="border: none; padding: 0; ">
        <tbody>
            <tr>
                <td style="color: black; font-size: 15px; border: none; text-align: left; font-family: 'Fira Sans Medium'; width: 100% ">Future Architectural Glass LLC</td>
            </tr>
            <tr>
                <td style="font-size: 13px; color: black; border: none; text-align: left; font-family: 'Fira Sans Regular'; width: 100% ">Office: 2411 Churchchill Executive Tower, Business Bay, PO Box, Dubai | <i class="fa fa-phone"></i>  +971 4346 1279</td>
            </tr>
            <tr>
                <td style="font-size: 13px; color: black; border: none; text-align: left; font-family: 'Fira Sans Regular'; width: 100% ">Works: P278 Al Ghail Industial Area, Ras Al Khaimah (UAE), PO Box 86001 | <i class="fa fa-phone"></i>  +971 7258 9247 | <i class="fa fa-fax" ></i>  +971 7258 9071</td>
            </tr>
            <tr>
                <td style="font-size: 13px; color: black; border: none; text-align: left; font-family: 'Fira Sans Regular'; width: 100% "><i class="fa fa-envelope-open-o" ></i>  sales@faglass.com | www.faglass.com</td>
            </tr>
        </tbody>
    </table>

</body>

</html>
