
@{
    ViewBag.Title = "EXIHeader";
}


<style>
    html {
        background-color: white !important;
    }

    body {
        color: #000000 !important;
        background-color: white !important;
    }

    /*.TEXT_BOLD {
        font-weight: bold;
        font-size: 15px;
        color: black;
    }

    .TEXT_UNBOLD {*/
    /*font-family: 'Fira Sans Light';*/
    /*font-size: 15px;
        color: black;
    }*/
</style>
<style>
    .page-count {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    hr {
        margin-top: 0.5rem;
        /*margin-bottom: 0.5rem;*/
    }
</style>

<html>
<body>
    <div class=" col-sm-12 col-md-12 col-lg-12 ml-4 pl-0 ">
        <div class=" row mt-0">

            <div class=" col-md-8 mt-9 mb-3" style="" border:none">
                <div class="" style="border:none">
                    
                </div>
            </div>

            <div class=" tblBox col-md-4 mt-7" style="margin-top:0%">

                <img class="" style="width:80%;height:70%;" src="~/images/Header_Logo.png" />

            </div>

        </div>

    </div>

    @*<hr style="border: solid 1px; color: #0E1A52" class="mt-2 pl-0" />*@

</body>

</html>

