
<div class="page-footer" style="background-color:white">


    <div class="row" style="border-top: 4px solid black;border-bottom: 1px solid black">
        <h3 style="font-weight:900">&nbsp;&nbsp;<b style="font-weight:900;color:black">FG GLASS INDUSTRIES PVT. LTD</b></h3><br />
        <span style="font-size:12px;margin-top:-10px;color:black">
            &nbsp;&nbsp;&nbsp;&nbsp;1204 TOWER A, NAMAN MIDTOWN, SENAPATI BAPAT MARG, PRABHADEVI (W), MUMBAI-400 013, INDIA | T : +91 22-4065 7777 | EXPORT@FGGLASS.COM | FGGLASS.COM
        </span>

    </div>
</div>