
@{
    ViewBag.Title = "ChangeUserPassword";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div id="cute-loader"></div>

<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Change Password</h4>

    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Enter your new password</label>
                                @Html.TextBox("PassWord", null, new { @class = "form-control", @id = "PassWord", name = "PassWord", autocomplete = "off", placeholder = "", @maxlength = 100, @type = "password" })
                            </div>
                            <div class="form-group">
                                <label class="form-label">Verify your password</label>
                                @Html.TextBox("CheckPassWord", null, new { @class = "form-control", @id = "CheckPassWord", name = "CheckPassWord", autocomplete = "off", placeholder = "", @maxlength = 100, @type = "password",onchange="CheckPassword()" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-success" id="ChangePassword" onclick="ChangeUserPassword()">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#cute-loader").fadeOut("slow");
        var elmnt = document.getElementById("page-main");
        var height = 0;
        if (elmnt.scrollHeight) {
            height = elmnt.scrollHeight;
        }
        else {
            height = $("#page-main").height();
        }
        ////height = $(".page-main").height();
        height = height - 62;
        $("#sidebar").height(height + "px");
    });

    function CheckPassword() {
        var password = $("#PassWord").val();
        var repassword = $("#CheckPassWord").val();
        if (password == "" || password == undefined) {
            return;
        }
        if (password != repassword) {
            document.getElementById('CheckPassWord').style.borderColor = "red";
            $("#ChangePassword").attr("disabled", "disabled");
            return;
        } else {
            document.getElementById('CheckPassWord').style.borderColor = "Gainsboro";
            $("#ChangePassword").removeAttr("disabled", "disabled");
        }

        }

    function ChangeUserPassword() {
        var password = $("#PassWord").val();
        var repassword = $("#CheckPassWord").val();
        if (password != repassword) {
            document.getElementById('CheckPassWord').style.borderColor = "red";
            $("#ChangePassword").attr("disabled", "disabled");
            return;
        } else {
            document.getElementById('CheckPassWord').style.borderColor = "Gainsboro";
            $("#ChangePassword").removeAttr("disabled", "disabled");
        }
        var date = new Date();
        var data = { 'UserPassword': repassword, 'ModifiedOn': date};
        data = JSON.stringify(data);
        $("#cute-loader").fadeIn("slow");

        $.ajax({
             url: "/User/ChangePassword",
                data: data,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            success: function (result) {
                alert(result);
                 $("#cute-loader").fadeOut("slow");
                    document.location = '@Url.Action("Logout", "Home")';
                },
             error: function (errormessage) {
                 $("#cute-loader").fadeOut("slow");
                    alert("error");
                }
            })

    }
</script>

