@model IEnumerable<BombayToolsEntities.BusinessEntities.Role>

@{
    ViewBag.Title = "RoleWiseMenuMappingSummary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="page-header">
    <h4 class="page-title"><a href="/user/RoleWiseMenuMappingSummary"><i class="fa fa-arrow-left"></i></a> Role Wise Mapping</h4>
</div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered  w-100" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Role Name</th>
                                    <th style="width:20%">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var d in Model)
                                {
                                    <tr>
                                        <td>@d.SrNo</td>
                                        <td>@d.RoleName</td>
                                        <td><a class="btn btn-primary" href="/User/AddRoleWiseMenu?RoleID=@d.RoleID&RoleName=@d.RoleName"><i class="fe fe-edit"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>
</div>