
@{
    ViewBag.Title = "FG BI Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@*<link href="~/css/PowerBICSS.css" rel="stylesheet" />*@

<div class="page-header m-0 p-0" id="DailyVisitSummary">
    <h4 class="page-title">FG Report</h4>
</div>

<div class="col-12">
    <div class="tab m-0 p-0">

        <iframe title="Report Section" height="560" width="1040" src="https://app.powerbi.com/view?r=eyJrIjoiYTMyOWUwYWUtMmYwOS00NDYzLWJmYmMtZDRmZTIwNjM0ZTllIiwidCI6IjI4ZDJlOTViLWM0MzAtNDY4Yy05YmJmLTA1ZDMwNjA2YWVlMCJ9&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>

        @*<iframe title="Report Section" width="1070" height="550" src="https://app.powerbi.com/view?r=eyJrIjoiNGE3NzM0YmYtMjllYi00N2QxLWIwMDAtZDg3NzIwYWM3NTc1IiwidCI6IjI4ZDJlOTViLWM0MzAtNDY4Yy05YmJmLTA1ZDMwNjA2YWVlMCJ9&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>*@

    </div>
</div>
