
@{
    ViewBag.Title = "FG Production";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="page-header m-0 p-0" id="DailyVisitSummary">
    <h4 class="page-title">FG Production</h4>
</div>

<div class="col-12">
    <div class="tab m-0 p-0">

        <iframe title="FG Production" width="1040" height="536" src="https://app.powerbi.com/view?r=eyJrIjoiM2U0ODk5OWMtNThiZC00ZmM4LWI4NjUtYjdiNjY1OGY1MTc4IiwidCI6IjI4ZDJlOTViLWM0MzAtNDY4Yy05YmJmLTA1ZDMwNjA2YWVlMCJ9&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

