
@{
    ViewBag.Title = "FGPurchaseReport";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class="page-header m-0 p-0" id="DailyVisitSummary">
    <h4 class="page-title">FG Purchase Report</h4>
</div>

<div class="col-12">
    <div class="tab m-0 p-0">

        <iframe title="Report Section" height="540" width="1040" src="https://app.powerbi.com/view?r=eyJrIjoiOTU2NmFlNTEtOWUzMy00YWZkLWIwNmQtNmM1YzdkYzhjM2I4IiwidCI6IjI4ZDJlOTViLWM0MzAtNDY4Yy05YmJmLTA1ZDMwNjA2YWVlMCJ9&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>

    </div>
</div>


