<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    @*<link rel="icon" href="favicon.ico" type="image/x-icon" />*@
    @*<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />*@
    <link rel="shortcut icon" type="image/x-icon" href="~/images/DD-IconColour-[PNG].png" />
@*<link rel="shortcut icon" type="image/x-icon" href="~/images/btc/glassPro_500px_PNG.png" />*@
@*<link rel="shortcut icon" type="image/x-icon" href="~/images/fg logo.png" />*@

    <!-- Title -->
    <title>Login</title>
    <link rel="stylesheet" href="~/fonts/fonts/font-awesome.min.css">
    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <!-- Dashboard Css -->
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <!-- c3.js Charts Plugin -->
    <link href="~/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
    <!-- Custom scroll bar css-->
    <link href="~/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <!---Font icons-->
    <link href="~/plugins/iconfonts/plugin.css" rel="stylesheet" />
</head>
<body>
    <!--Added-->
    @RenderBody()
    <!-- Dashboard js -->
    <script src="~/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/js/vendors/selectize.min.js"></script>
    <script src="~/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="~/js/vendors/circle-progress.min.js"></script>
    <script src="~/plugins/rating/jquery.rating-stars.js"></script>
    <!-- Custom scroll bar Js-->
    <script src="~/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Custom Js-->
</body>
</html>
